.services{
    margin: 30px auto 80px;
    .services__title{
        font-family: $font-cursive;
    }
    .services__subtitle{
        margin-top: 10px;
        text-transform: uppercase;
    }
    .services__layout{
        margin: 50px 0;
        row-gap: 100px;
        column-gap: 100px;
    }
    .service__single__element{
        display: flex;
        text-align: left;
        max-width: 300px;
        .service__content{
            margin-left: 20px;
            .service__title {
                margin-bottom: 15px;
                text-transform: uppercase;
                display: block;
             }
        }
       
    }
}